.Textblock {
  line-height: 1.6;
  animation: fadeInLoad 2s;
}
@keyframes fadeInLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.TextBlock p {
  margin-bottom: 22px;
}
.SkillsSummaryContainer {
  display: flex;
  flex-wrap: wrap;
}
